<div class="jumbotron">
    <h1>324th LIK Paperwork Generator</h1>
    <p class="lead">This site will generate LIK paperwork for the 324th HHC</p>
    <p>I do not store any of your information that you post here.  If you are experiencing issues or have a comment you can find me in the global under Aguirre, John P SPC</p>
</div>
<div class="row" ng-app="LIKApp" ng-controller="GenerateLIKPDF">
    <div class="col-md-3">
        <div ng-repeat="lodging in LodgingDate track by $index">
            <div class="form-group">
                <label for="{{'Lodging' + $index}}">
                    Lodging Date
                </label>
                <input type="text"
                       class="form-control"
                       id="{{'Lodging' + $index}}"
                       placeholder="5Dec2015-9Dec2015"
                       ng-model="lodging.value" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="Name">
                Name
            </label>
            <input type="text"
                   class="form-control"
                   id="Name"
                   placeholder="Test Smith"
                   ng-model="Name" />
        </div>
        <div class="form-group">
            <label for="PVT">
                Rank
            </label>
            <input type="text"
                   class="form-control"
                   id="Rank"
                   placeholder="PVT"
                   ng-model="Rank" />
        </div>
        <div class="form-group">
            <label for="Unit">
                Unit
            </label>
            <input type="text"
                   class="form-control"
                   id="Unit"
                   placeholder="324th HHC Co."
                   ng-model="Unit" />
        </div>
        <div class="form-group">
            <label for="Address">
                Address
            </label>
            <input type="text"
                   class="form-control"
                   id="Address"
                   placeholder="123 Example Dr"
                   ng-model="Address" />
        </div>
        <div class="form-group">
            <label for="CSZ">
                City/State/Zip
            </label>
            <input type="text"
                   class="form-control"
                   id="CSZ"
                   placeholder="Fort Gordon, GA 3000"
                   ng-model="CSZ" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group form-inline">
            <label for="PhoneAreaCode">
                Phone Number
            </label>
            <div>
                <input type="text"
                       class="form-control"
                       style="width:30%;"
                       id="PhoneAreaCode"
                       placeholder="123"
                       ng-model="PhoneAreaCode" />
                <input type="text"
                       class="form-control"
                       style="width:60%;"
                       id="Phone"
                       placeholder="456-7890"
                       ng-model="Phone" />
            </div>
        </div>
        <div class="form-group form-inline">
            <label for="WorkPhoneAreaCode">
                WorkPhone Number
            </label>
            <div>
                <input type="text"
                       class="form-control"
                       style="width:30%;"
                       id="WorkPhoneAreaCode"
                       placeholder="123"
                       ng-model="WorkPhoneAreaCode" />
                <input type="text"
                       class="form-control"
                       style="width:60%;"
                       id="WorkPhone"
                       placeholder="456-7890"
                       ng-model="WorkPhone" />
            </div>
        </div>
        <div class="form-group">
            <label for="Initials">
                Initials
            </label>
            <input type="text"
                   class="form-control"
                   id="Initials"
                   placeholder="TS"
                   ng-model="Initials" />
        </div>
        <div class="form-group">
            <label for="Mileage">
                Mileage
            </label>
            <input type="text"
                   class="form-control"
                   id="Mileage"
                   placeholder="120"
                   ng-model="Mileage" />
        </div>
        <div class="form-group">
            <label for="Email">
                Email
            </label>
            <input type="text"
                   class="form-control"
                   id="Email"
                   placeholder="test.smith444@mail.mil"
                   ng-model="Email" />
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" 
                style="margin-bottom:20px;"
                class="btn btn-primary btn-lg" 
                ng-click="AddLodgingDate();">
            Add Lodging Date
        </button>
        <button type="button"
                style="margin-bottom:20px;"
                class="btn btn-primary btn-lg"
                ng-click="GeneratePDF();">
            Create PDF
        </button>
    </div>
</div>
